@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes progress-loading {
  0% { width: 0%; }
  100% { width: 100%; }
}
.animate-progress-loading {
  animation: progress-loading 2s infinite linear;
}